<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HttpKIt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NetworkingKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>pinned.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>pinnedShareExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>043204591E8CDED2002706B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>046D41DB1E9CC15700624E77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>046D41EF1E9CC5B600624E77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>046D41F71E9CC5B600624E77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>046D42231E9CD2BF00624E77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>046D422B1E9CD2C200624E77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
